@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: "Inter", sans-serif;
}

@font-face {
    font-family: anzo1;
    src: url('./assets/file2.woff2');
}

@font-face {
    font-family: anzo2;
    src: url('./assets/file5.woff2');
}

#tiltdiv{
    width: fit-content;
}

#homein{
    perspective: 1000px;
}